*.rar
*.zip
*.tar.gz
*.class

.idea/
*/target/
*/bin/
*.DS_Store
ignore/
*.jar
code/backend/weibo-service/log/crawler_log/*
code/crawllers/weibo-python-crawller/weibo_spider/__pycache__/*
code/crawllers/weibo-python-crawller/weibo_spider/parser/__pycache__/*